.header {

  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 200px;
}
#logo {
  display: inline-block;
  margin-top: 3px;
  margin-left: 1px;
  margin-bottom: 3px;
  height: 56px;
  width: 137px;
  background-image: url("DesDEVlogo.png");
  background-size: cover;
}

.navLinkContainer {
  position: absolute;
  float: right;
  top:17px;
  right: 20px;

}

.headerLink {
  display: inline-block;
  color: #22a4e0;
  line-height: 56px;
  align: right;
  width: 40px;
  text-align: center;
}
.contentContainer {
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 5px;
}
.contentRow {
  background: rgba(225, 230, 226, 0.5);
  max-width: 1280px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0;
  border-radius: 5px;
}
.contentCard {
  background: rgba(225, 230, 226, 0.5);

  vertical-align: top;
  display: inline-block;
  max-width: 100%;
  width: calc(50% - 20px);;
  height: 200px;
  white-space: normal;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}
.aboutmecard{
  height: 75px;
  width: calc(99% - 20px);;
}
.contactcard{
  height: 100px;
  width: calc(40% - 20px);;
}
.placeholdercard{
  height: 100px;
  width: calc(95% - 20px);;
}
.phrow{
  width: calc(20% - 20px);;
}
/* Make the image fully responsive */
.carousel-inner img {
    width: 30%;
    height: 10%;
}
body{
  background-image: url(darkny.jfif);
}
.boxedimage {
  border: 3px solid black;
  margin: 50;
}
p {
  font-family: verdana;
  font-size: 20px;
}
img {
  image-orientation: center;
}
h1{
  border-radius: 5px;
  font-family: verdana;
  align-items: center;
  line-height: 2.5;
}
